<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiHdNBXfEnQg8Xd3X3fL87kzmHq4HeG4M</string>
	<key>GCM_SENDER_ID</key>
	<string>673134313408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportsbubble</string>
	<key>PROJECT_ID</key>
	<string>sportsbubble-android</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsbubble-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673134313408:ios:001e32f457a79f9ca11225</string>
</dict>
</plist>